 JOUWWEB.templateConfig = {
        header: {
            selector: '.header-wrap',
            mobileSelector: '.jw-mobile-menu',
            updatePusher: function (headerHeight) {
                var $sliderStyle = $('#sliderStyle');

                if ($sliderStyle.length === 0) {
                    $sliderStyle = $('<style />')
                        .attr('id', 'sliderStyle')
                        .appendTo(document.body);
                }

                $sliderStyle.html('.jw-slideshow-slide-content { padding-top: ' + headerHeight + 'px; padding-bottom: ' + (headerHeight * (2/3)) + 'px; } .bx-controls-direction { margin-top: ' + (headerHeight * (1/6)) + 'px; }');

                // make sure slider also gets correct height (because of the added padding)
                $('.jw-slideshow-slide[aria-hidden=false]').each(function (index) {
                    var $this = $(this);
                    headerHeight = $this.outerHeight() > headerHeight ? $this.outerHeight() : headerHeight;
                    $this.closest('.bx-viewport').css({
                        height: headerHeight + 'px',
                    });
                });

                // If a page has a slideshow and message-bar, offset the mobile nav.
                const $messageBar = $('.jw-is-slideshow .message-bar');
                if ($messageBar.length > 0) {
                    $('.js-mobile-menu, .jw-menu-clone').css('top', $messageBar.outerHeight());
                }
            },
        },
        mainContentOffset: function () {
            return $('.main-content').offset().top - ($('body').hasClass('jw-menu-is-mobile') ? 0 : 60);
        },
    };
</script>
<nav class="jw-menu-copy">
    <ul
    id="jw-menu"
    class="jw-menu jw-menu-horizontal"
            >
            <li
    class="jw-menu-item jw-menu-is-active"
>
        <a
        class="jw-menu-link js-active-menu-item"
        href="/"
                                            data-page-link-id="7787532"
                            >
                <span class="">
            Home        </span>
            </a>
                </li>
    
    </ul>

    <script nonce="7d09aaf4f6f96aa7c77db7ff88e4945d" id="jw-mobile-menu-template" type="text/template">
        <ul id="jw-menu" class="jw-menu jw-menu-horizontal">
                            <li
    class="jw-menu-item jw-menu-is-active"
>
        <a
        class="jw-menu-link js-active-menu-item"
        href="/"
                                            data-page-link-id="7787532"
                            >
                <span class="">
            Home        </span>
            </a>
                </li>
            
                    </ul>
    </script>
</nav>
<div class="main-content">
        
<main class="block-content">
    <div data-section-name="content" class="jw-section jw-section-content jw-responsive">
        <div class="jw-strip-root"><div class="jw-strip jw-strip--color-default jw-strip--default jw-strip--padding-both jw-node-is-first-child jw-node-is-last-child" ><div
    id="jw-element-124681732"
    data-jw-element-id="124681732"
        class="jw-tree-node jw-element jw-simple-root jw-tree-container jw-node-is-first-child jw-node-is-last-child jw-strip__content jw-responsive"
>
    

                    

<div
    id="jw-element-124684149"
    data-jw-element-id="124684149"
        class="jw-tree-node jw-element jw-image-text jw-node-is-first-child"
>
    <div class="jw-element-imagetext-text">
            <h2 class="jw-heading-100" style="text-align: left;"><span style="color: #202020;">Samara Becerra</span></h2>    </div>
</div><div
    id="jw-element-124684318"
    data-jw-element-id="124684318"
        class="jw-tree-node jw-element jw-columns jw-tree-container jw-tree-horizontal"
>
    <div
    id="jw-element-124684319"
    data-jw-element-id="124684319"
            style="width: 21.9%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-first-child jw-responsive lt300 lt400 lt480 lt540 lt600 lt800"
>
    <div
    id="jw-element-124684177"
    data-jw-element-id="124684177"
        class="jw-tree-node jw-element jw-image jw-node-is-first-child jw-node-is-last-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-left"
            style="width: 147px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/adae6p/mesignature.jpg"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 104.7619047619%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="147"
                    height="154"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;adae6p&#x2F;mesignature.jpg&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;322&#x25;2C337&#x25;2Cx0&#x25;2Cy0&#x25;2Csafe&amp;width&#x3D;147&amp;height&#x3D;154"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/adae6p/mesignature.jpg?enable-io=true&enable=upscale&crop=322%2C337%2Cx0%2Cy0%2Csafe&width=147&height=154 147w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/mesignature.jpg 322w"
                    sizes="(max-width: 640px) 147px, (max-width: 1085px) 21vw, 147px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div></div><div
    id="jw-element-124684320"
    data-jw-element-id="124684320"
            style="width: 78.1%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-last-child jw-responsive"
>
    <div
    id="jw-element-124684284"
    data-jw-element-id="124684284"
        class="jw-tree-node jw-element jw-image-text jw-node-is-first-child"
>
    <div class="jw-element-imagetext-text">
            <p style="text-align: center;"><strong>DASHBOARDS&nbsp;</strong></p>    </div>
</div><div
    id="jw-element-237129611"
    data-jw-element-id="237129611"
        class="jw-tree-node jw-element jw-album-gallery jw-node-is-last-child"
>
    <div
    class="fotorama fotorama--placeholder fotorama--align-center"
        data-allowfullscreen="true"
            data-fit="contain"
        data-width="100%"
        data-ratio="2"
        data-nav="thumbs"
        data-navposition="bottom"
        data-thumbheight="50"
        data-transition="slide"
        data-autoplay=""
        data-captions=""
        data-swipe="true"
    >
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
                    <a
            href="/app-assets/placeholder.svg"
            title=""
            data-full="/app-assets/placeholder.svg"
            data-thumb="/app-assets/placeholder.svg"
            data-thumbwidth="167"
            data-thumbheight="100"
            data-caption=""
        ></a>
    </div>
</div></div></div><div
    id="jw-element-124686019"
    data-jw-element-id="124686019"
        class="jw-tree-node jw-element jw-image-text"
>
    <div class="jw-element-imagetext-text">
            <p style="text-align: center;"><strong><span style="color: #202020;">BYUI Study Skills Department </span></strong></p>
<p style="text-align: center;"><span style="color: #202020;">Social Media Campaigns&nbsp;</span></p>    </div>
</div><div
    id="jw-element-124686044"
    data-jw-element-id="124686044"
        class="jw-tree-node jw-element jw-social-follow"
>
    <div class="jw-element-social-follow jw-element-social-follow--size-m jw-element-social-follow--style-solid jw-element-social-follow--roundness-rounded jw-element-social-follow--color-brand"
     style="text-align: center">
    <span class="jw-element-content">
    <a
            href="https://facebook.com/BYUIdahoStudySkillsCenter"
            target="_blank"
            rel="noopener"
            style=""
            class="jw-element-social-follow-profile jw-element-social-follow-profile--medium-facebook"
                    >
            <i class="website-rendering-icon-facebook"></i>
        </a><a
            href="https://instagram.com/byui_studyskills/"
            target="_blank"
            rel="noopener"
            style=""
            class="jw-element-social-follow-profile jw-element-social-follow-profile--medium-instagram"
                    >
            <i class="website-rendering-icon-instagram"></i>
        </a>    </span>
    </div>
</div><div
    id="jw-element-124686101"
    data-jw-element-id="124686101"
        class="jw-tree-node jw-element jw-separator"
>
    <div class="jw-element-separator-padding">
    <hr
        class="jw-element-separator jw-element-separator--thin jw-element-separator--solid"
        style="--jw-element-separator__margin&#x3A;&#x20;1em"
    />
</div>
</div><div
    id="jw-element-124686104"
    data-jw-element-id="124686104"
        class="jw-tree-node jw-element jw-image-text"
>
    <div class="jw-element-imagetext-text">
            <p style="text-align: center;"><strong><span style="color: #202020;">Internship &amp;Work&nbsp; Social Media Campaigns&nbsp;</span></strong></p>    </div>
</div><div
    id="jw-element-124686103"
    data-jw-element-id="124686103"
        class="jw-tree-node jw-element jw-social-follow"
>
    <div class="jw-element-social-follow jw-element-social-follow--size-m jw-element-social-follow--style-solid jw-element-social-follow--roundness-rounded jw-element-social-follow--color-brand"
     style="text-align: center">
    <span class="jw-element-content">
    <a
            href="https://facebook.com/High-Valley-Aesthetics-556297231950429"
            target="_blank"
            rel="noopener"
            style=""
            class="jw-element-social-follow-profile jw-element-social-follow-profile--medium-facebook"
                    >
            <i class="website-rendering-icon-facebook"></i>
        </a><a
            href="https://instagram.com/highvalleyaesthetics/"
            target="_blank"
            rel="noopener"
            style=""
            class="jw-element-social-follow-profile jw-element-social-follow-profile--medium-instagram"
                    >
            <i class="website-rendering-icon-instagram"></i>
        </a>    </span>
    </div>
</div><div
    id="jw-element-124684545"
    data-jw-element-id="124684545"
        class="jw-tree-node jw-element jw-separator"
>
    <div class="jw-element-separator-padding">
    <hr
        class="jw-element-separator jw-element-separator--thin jw-element-separator--solid"
        style="--jw-element-separator__margin&#x3A;&#x20;1em&#x3B;border-color&#x3A;&#x20;&#x23;2e6282"
    />
</div>
</div><div
    id="jw-element-124684604"
    data-jw-element-id="124684604"
        class="jw-tree-node jw-element jw-image-text"
>
    <div class="jw-element-imagetext-text">
            <h2 class="jw-heading-100"><span style="color: #202020;">Portfolio</span></h2>    </div>
</div><div
    id="jw-element-124685235"
    data-jw-element-id="124685235"
        class="jw-tree-node jw-element jw-columns jw-tree-container jw-tree-horizontal"
>
    <div
    id="jw-element-124685236"
    data-jw-element-id="124685236"
            style="width: 43.915%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-first-child jw-responsive lt480 lt540 lt600 lt800"
>
    <div
    id="jw-element-124685950"
    data-jw-element-id="124685950"
        class="jw-tree-node jw-element jw-image-text jw-node-is-first-child"
>
    <div class="jw-element-imagetext-text">
            <p>Social Media Logo for Realtor Client.&nbsp;</p>    </div>
</div><div
    id="jw-element-124684620"
    data-jw-element-id="124684620"
        class="jw-tree-node jw-element jw-image jw-node-is-last-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-center"
            style="width: 235px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/9oy6xs/final_beardLogo2.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 111.06382978723%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="235"
                    height="261"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;9oy6xs&#x2F;final_beardLogo2.png&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;330&#x25;2C366&#x25;2Cx0&#x25;2Cy0&#x25;2Csafe&amp;width&#x3D;235&amp;height&#x3D;261"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/9oy6xs/final_beardLogo2.png?enable-io=true&enable=upscale&crop=330%2C366%2Cx0%2Cy0%2Csafe&width=235&height=261 235w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/final_beardLogo2.png 330w"
                    sizes="(max-width: 640px) 235px, (max-width: 1085px) 43vw, 235px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div></div><div
    id="jw-element-124685237"
    data-jw-element-id="124685237"
            style="width: 56.085%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-last-child jw-responsive lt600 lt800"
>
    <div
    id="jw-element-124685239"
    data-jw-element-id="124685239"
        class="jw-tree-node jw-element jw-video jw-node-is-first-child jw-node-is-last-child"
>
    <div class="jw-element-video jw-element-video--align-left jw-element-video--fixed-ratio" style="width: 100%">
    <div class="jw-element-video__player jw-element-content">
                    <iframe
                src="https://www.youtube-nocookie.com/embed/MaK3jKF5yTc?&controls=1&rel=0&modestbranding=1"
                frameborder="0"
                allowfullscreen
            >
            </iframe>
            </div>
</div>
</div></div></div><div
    id="jw-element-124685887"
    data-jw-element-id="124685887"
        class="jw-tree-node jw-element jw-html"
>
    <div class="jw-html-wrapper">
    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 56.4%;"><a href="https://www.facebook.com/BYUIdahoStudySkillsCenter/videos/843263583283032/" data-iframely-url="//cdn.iframe.ly/api/iframe?url=https%3A%2F%2Ffb.watch%2F5ZggECg2PD%2F&amp;api_key=05a95550c8fee219849744"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>    </div>
</div><div
    id="jw-element-124685596"
    data-jw-element-id="124685596"
        class="jw-tree-node jw-element jw-columns jw-tree-container jw-tree-horizontal"
>
    <div
    id="jw-element-124685597"
    data-jw-element-id="124685597"
            style="width: 49.99%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-first-child jw-responsive lt540 lt600 lt800"
>
    <div
    id="jw-element-124685283"
    data-jw-element-id="124685283"
        class="jw-tree-node jw-element jw-image jw-node-is-first-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-center jw-element-image--full-width-to-640"
            style="width: 456px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/65vc65/CopyofEmsculptisthemostadvancedinbuildingmuscleandlosingweight.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 79.824561403509%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="456"
                    height="364"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;65vc65&#x2F;CopyofEmsculptisthemostadvancedinbuildingmuscleandlosingweight.png&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;1316&#x25;2C1050&#x25;2Cx15&#x25;2Cy0&#x25;2Csafe&amp;width&#x3D;456&amp;height&#x3D;364"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/65vc65/CopyofEmsculptisthemostadvancedinbuildingmuscleandlosingweight.png?enable-io=true&enable=upscale&crop=1316%2C1050%2Cx15%2Cy0%2Csafe&width=456&height=364 456w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/65vc65/CopyofEmsculptisthemostadvancedinbuildingmuscleandlosingweight.png?enable-io=true&enable=upscale&crop=1315%2C1050%2Cx15%2Cy0%2Csafe&width=800&height=639 800w"
                    sizes="(max-width: 640px) 100vw, (max-width: 1085px) 49vw, 456px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div><div
    id="jw-element-124685717"
    data-jw-element-id="124685717"
        class="jw-tree-node jw-element jw-video jw-node-is-last-child"
>
    <div class="jw-element-video jw-element-video--align-left jw-element-video--fixed-ratio" style="width: 640px">
    <div class="jw-element-video__player jw-element-content">
                    <iframe
                src="https://www.youtube-nocookie.com/embed/4-6vHW6t2iQ?&controls=1&rel=0&modestbranding=1"
                frameborder="0"
                allowfullscreen
            >
            </iframe>
            </div>
</div>
</div></div><div
    id="jw-element-124685598"
    data-jw-element-id="124685598"
            style="width: 50.01%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-last-child jw-responsive lt540 lt600 lt800"
>
    <div
    id="jw-element-124685599"
    data-jw-element-id="124685599"
        class="jw-tree-node jw-element jw-image jw-node-is-first-child jw-node-is-last-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-left jw-element-image--full-width-to-640"
            style="width: 800px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/7sxqst/softblushBEAUTY1.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 100%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="530"
                    height="530"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;7sxqst&#x2F;softblushBEAUTY1.png&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;1500&#x25;2C1500&#x25;2Cx0&#x25;2Cy0&#x25;2Csafe&amp;width&#x3D;530&amp;height&#x3D;530"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/7sxqst/softblushBEAUTY1.png?enable-io=true&enable=upscale&crop=1500%2C1500%2Cx0%2Cy0%2Csafe&width=530&height=530 530w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/softblushBEAUTY1.png 800w"
                    sizes="(max-width: 640px) 100vw, (max-width: 1085px) 49vw, 530px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div></div></div><div
    id="jw-element-124685772"
    data-jw-element-id="124685772"
        class="jw-tree-node jw-element jw-columns jw-tree-container jw-tree-horizontal jw-node-is-last-child"
>
    <div
    id="jw-element-124685773"
    data-jw-element-id="124685773"
            style="width: 50%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-first-child jw-responsive lt540 lt600 lt800"
>
    <div
    id="jw-element-124685775"
    data-jw-element-id="124685775"
        class="jw-tree-node jw-element jw-image jw-node-is-first-child jw-node-is-last-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-left jw-element-image--full-width-to-640"
            style="width: 618px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/bhugcm/Buildthebodyofyourdreams1.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 129.43396226415%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="530"
                    height="686"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;bhugcm&#x2F;Buildthebodyofyourdreams1.png&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;1919&#x25;2C2484&#x25;2Cx0&#x25;2Cy0&#x25;2Csafe&amp;width&#x3D;530&amp;height&#x3D;686"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/bhugcm/Buildthebodyofyourdreams1.png?enable-io=true&enable=upscale&crop=1919%2C2484%2Cx0%2Cy0%2Csafe&width=530&height=686 530w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/Buildthebodyofyourdreams1.png 800w"
                    sizes="(max-width: 640px) 100vw, (max-width: 1085px) 49vw, 530px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div></div><div
    id="jw-element-124685774"
    data-jw-element-id="124685774"
            style="width: 50%"
        class="jw-tree-node jw-element jw-column jw-tree-container jw-node-is-last-child jw-responsive lt540 lt600 lt800"
>
    <div
    id="jw-element-124685339"
    data-jw-element-id="124685339"
        class="jw-tree-node jw-element jw-image jw-node-is-first-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-right"
            style="width: 372px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/7bn5te/bOX.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 43.817204301075%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="372"
                    height="163"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;bOX.png"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/bOX.png 372w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/bOX.png 372w"
                    sizes="(max-width: 640px) 372px, (max-width: 1085px) 49vw, 372px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div><div
    id="jw-element-124685792"
    data-jw-element-id="124685792"
        class="jw-tree-node jw-element jw-image jw-node-is-last-child"
>
    <div
    class="jw-intent jw-element-image jw-element-child jw-element-content jw-element-activeless jw-element-no-margin  jw-element-image-is-left jw-element-image--full-width-to-640"
            style="width: 565px;"
        data-high-res-path="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/tonex2/GreenWithPinkFlowersSpringPoster.png"
>
                        <picture
            class="jw-element-image__image-wrapper jw-image-is-square jw-intrinsic"
            style="padding-top: 141.32075471698%;"
        >
                            <img
                    class="jw-element-image__image jw-intrinsic__item"
                    width="530"
                    height="749"
                    alt=""
                    src="https&#x3A;&#x2F;&#x2F;primary.jwwb.nl&#x2F;public&#x2F;l&#x2F;i&#x2F;p&#x2F;temp-rhyxqvppykmxbisnhtwc&#x2F;tonex2&#x2F;GreenWithPinkFlowersSpringPoster.png&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;crop&#x3D;1919&#x25;2C2712&#x25;2Cx0&#x25;2Cy2&#x25;2Csafe&amp;width&#x3D;530&amp;height&#x3D;749"
                    srcset="https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/tonex2/GreenWithPinkFlowersSpringPoster.png?enable-io=true&enable=upscale&crop=1919%2C2712%2Cx0%2Cy2%2Csafe&width=530&height=749 530w, https://primary.jwwb.nl/public/l/i/p/temp-rhyxqvppykmxbisnhtwc/GreenWithPinkFlowersSpringPoster.png 800w"
                    sizes="(max-width: 640px) 100vw, (max-width: 1085px) 49vw, 530px"
                    loading="lazy"
                />
                    </picture>
        </div>
</div></div></div></div></div></div>        <div class="jw-strip jw-strip--color-default jw-strip--default jw-strip--padding-end" ><div class="jw-strip__content jw-responsive" >    <div
        class="jw-element-ads js-ads jw-element-ads-WebsiteRenderingSignup jw-element-ads--accent"
    >
        <div class="jw-comment">
            <h3>
                Create Your Own Website With <a href="https://www.webador.com/?utm_source=sites&utm_medium=banner&utm_content=text%2Baccent&utm_campaign=house%20banner%20webador" rel="nofollow">Webador</a>            </h3>
        </div>
            </div>
</div></div>    </div>
</main>
        </div>
<footer class="block-footer">
    <div
        data-section-name="footer"
        class="jw-section jw-section-footer jw-responsive"
    >
                <div class="jw-strip jw-strip--color-default jw-strip--default jw-strip--padding-both" ><div class="jw-strip__content jw-responsive" >            <div
    id="jw-element-211444311"
    data-jw-element-id="211444311"
        class="jw-tree-node jw-element jw-simple-root jw-tree-container jw-tree-container--empty"
>
    </div>                            <div class="jw-credits clear">
                    <div class="jw-credits-owner">
                        <div id="jw-footer-text">
                            <div class="jw-footer-text-content">
                                &copy; 2021 - 2024 samarabecerra.com                            </div>
                        </div>
                    </div>
                    <div class="jw-credits-right">
                                                <div id="jw-credits-tool">
    <small>
        Powered by <a href="https://www.webador.com" rel="">Webador</a>    </small>
</div>
                    </div>
                </div>
                    </div></div>    </div>
</footer>
            <div class="jw-bottom-bar__container"></div>
            <div class="jw-bottom-bar__spacer"></div>
            <div id="jw-variable-loaded" style="display: none;"></div>
            <div id="jw-variable-values" style="display: none;">
                                    <span data-jw-variable-key="background-color" class="jw-variable-value-background-color"></span>
                                    <span data-jw-variable-key="background" class="jw-variable-value-background"></span>
                                    <span data-jw-variable-key="font-family" class="jw-variable-value-font-family"></span>
                                    <span data-jw-variable-key="paragraph-color" class="jw-variable-value-paragraph-color"></span>
                                    <span data-jw-variable-key="paragraph-link-color" class="jw-variable-value-paragraph-link-color"></span>
                                    <span data-jw-variable-key="paragraph-font-size" class="jw-variable-value-paragraph-font-size"></span>
                                    <span data-jw-variable-key="heading-color" class="jw-variable-value-heading-color"></span>
                                    <span data-jw-variable-key="heading-link-color" class="jw-variable-value-heading-link-color"></span>
                                    <span data-jw-variable-key="heading-font-size" class="jw-variable-value-heading-font-size"></span>
                                    <span data-jw-variable-key="heading-font-family" class="jw-variable-value-heading-font-family"></span>
                                    <span data-jw-variable-key="menu-text-color" class="jw-variable-value-menu-text-color"></span>
                                    <span data-jw-variable-key="menu-text-link-color" class="jw-variable-value-menu-text-link-color"></span>
                                    <span data-jw-variable-key="menu-text-font-size" class="jw-variable-value-menu-text-font-size"></span>
                                    <span data-jw-variable-key="menu-font-family" class="jw-variable-value-menu-font-family"></span>
                                    <span data-jw-variable-key="menu-capitalize" class="jw-variable-value-menu-capitalize"></span>
                                    <span data-jw-variable-key="website-size" class="jw-variable-value-website-size"></span>
                                    <span data-jw-variable-key="footer-text-color" class="jw-variable-value-footer-text-color"></span>
                                    <span data-jw-variable-key="footer-text-link-color" class="jw-variable-value-footer-text-link-color"></span>
                                    <span data-jw-variable-key="footer-text-font-size" class="jw-variable-value-footer-text-font-size"></span>
                                    <span data-jw-variable-key="content-color" class="jw-variable-value-content-color"></span>
                                    <span data-jw-variable-key="accent-color" class="jw-variable-value-accent-color"></span>
                                    <span data-jw-variable-key="footer-color" class="jw-variable-value-footer-color"></span>
                            </div>
        </div>
                            <script nonce="7d09aaf4f6f96aa7c77db7ff88e4945d" type="application/ld+json">[{"@context":"https:\/\/schema.org","@type":"Organization","url":"https:\/\/samarabecerra.webador.com\/","name":"samarabecerra.com"}]</script>
                <script >
    //<!--
    
            window.JOUWWEB = window.JOUWWEB || {};
            window.JOUWWEB.cookieConsent = {"theme":"jw","showLink":false,"content":{"message":"This website uses cookies to enhance your experience and display tailored ads. Continued use of this website confirms your acceptance of our use of cookies.","dismiss":"Agree"},"autoOpen":true,"cookie":{"name":"cookieconsent_status"}};
        
    //-->
</script>
<script >
    //<!--
    window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };plausible('pageview', { props: {website: 2036874 }});
    //-->
